 <header class="bg-success">
        <div class="mb-3 text-center">
            <label for="creationName" class="form-label">
                <h2>Welcome Back, {{name}}!</h2>
                <h4>Add New Items Here!</h4>
        </div>
    </header>

    <div class="w-100 d-flex justify-content-center">
        <form class="align-items-center">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="card" style="width: 17rem;">
                    <div class="card-body">
                            <label for="meal">Main Course</label>
                            <input class="form-input" type="text" id="meal" name="meal" />
                            <label for="mealCal">Calories</label>
                            <input class="form-input" type="text" id="mealcal" name="mealCal" />
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="mealBtn" type="submit" class="btn btn-primary">Create!</button>
                    </div>
                </div>

                    <br>

                <div class="card" style="width: 17rem;">
                    <div class="card-body">
                        <label for="sides">Sides:</label>
                        <input class="form-input" type="text" id="sides" name="sides" />
                        <label for="sideCal">Calories</label>
                        <input class="form-input" type="text" id="sidecal" name="sideCal" />
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="sideBtn" type="submit" class="btn btn-primary">Create!</button>
                    </div>
                </div>
            </div>

                <br>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="card" style="width: 17rem;">
                    <div class="card-body">
                        <label for="drinks">Drinks:</label>
                        <input class="form-input" type="text" id="drinks" name="drinks" />
                        <label for="drinksCal">Calories:</label>
                        <input class="form-input" type="text" id="drinksCal" name="drinksCal" />
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="drinksBtn"type="submit" class="btn btn-primary">Create!</button>
                    </div>
                </div>

                    <br>

                <div class="card" style="width: 17rem;">
                    <div class="card-body">
                        <label for="desert">Desert:</label>
                        <input class="form-input" type="text" id="desert" name="desert" />
                        <label for="deertCal">Calories:</label>
                        <input class="form-input" type="text" id="desertCal" name="desertCal" />
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="desertBtn" type="submit" class="btn btn-primary">Create!</button>
                    </div>
                </div>
            </div>
        </form>
    </div> 