<div class="card-group wrap-choices w-75 m-auto my-4 cst-hmpg-cards-parent d-flex justify-content-center align-items-center justify-content-evenly">
  <a href="/catalog" class="cst-card w-25 h-50 border shadow-lg catalog-choice rounded bg-light d-flex justify-content-center align-items-center text-white">
    <div class="">
      <h1 class="explore-heading">Explore</h1>
    </div>
  </a>

  <a href="/signup" class="cst-card w-25 h-50 border shadow-lg signup-choice rounded bg-light d-flex justify-content-center align-items-center text-white">
    <div class="">
      <h1 class="explore-heading">Create</h1>
    </div>
  </a>
  
  
</div>

