<div class="card-group">
  <div class="cardSingUp">
    <div class="card-body">
      <h5 class="card-title">Sign Up Now!</h5>
      <p class="card-text">Sign up now it Free!</p>
      <a href="#" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
  <div class="cardLogin">
    <div class="card-body">
      <h5 class="card-title">Login Here!</h5>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
  </div>
  <div class="cardView">
    <div class="card-body">
      <h5 class="card-title">Not Sure? look Here!</h5>
      <p class="card-text">Feel free to look around to see all of the new restruants to town!</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>