<div class="wrap-login m-auto w-50 mt-5">
  <form>
    <div class="mb-3">
      <label for="emailLog" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailLog" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="passLog" class="form-label">Password</label>
      <input type="password" class="form-control" id="passLog">
    </div>
    <button id="submit-login" class="btn btn-primary">Submit</button>
    <small class="p-2"><a href="/signup">Don't have an account yet?</a></small>
  </form>
</div>
<script src="assets/js/login.js"></script>
