<form>
    <header class="bg-success">
        <div class="mb-3 text-center">
            <label for="creationName" class="form-label">
                <h2>Your New Dish!</h2></label>
            <input type="text" class="form-control" id="creation" aria-describedby="creation" placeholder="Your New Dish Name Here">
        </div>
    </header>

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <H3>Main dish</H3>
                <input type="checkbox" class="form-check-input Main" id="mainCheck">
                <label class="form-check-label" for="drinks">Example</label>
                <input type="checkbox" class="form-check-input Main" id="mainCheck">
                <label class="form-check-label" for="Main dish">Example</label>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <H3>Sides</H3>
                <input type="checkbox" class="form-check-input Sides" id="sideCheck">
                <label class="form-check-label" for="drinks">Example</label>
                <input type="checkbox" class="form-check-input Sides" id="sideCheck">
                <label class="form-check-label" 
                for="sides">Example</label>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <H3>Drinks</H3>
                <input type="checkbox" class="form-check-input Drinks" id="drinksCheck">
                <label class="form-check-label" for="drinks">Example</label>
                <input type="checkbox" class="form-check-input Drinks" id="drinksCheck">
                <label class="form-check-label" for="drinks">Example</label>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <H3>Deserts</H3>
                <label class="form-check-label" for="desert">Example</label>
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" for="desert">Example</label>
                <input type="checkbox" class="form-check-input" id="check">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4>Upload Your Image Here!</h4>
            <input type="file" name="upload" id="file-pick">
        </div>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Create!</button>
    </div>
</form>